{{- $root := . }}
{{- with .Values.controllerManager }}
{{- if and (eq (.enabled | toString) "true") (eq (.identities.enabled | toString) "true") }}
apiVersion: spire.spiffe.io/v1alpha1
kind: ClusterSPIFFEID
metadata:
  name: {{ include "spire-controller-manager.fullname" $root }}-service-account-based
spec:
  spiffeIDTemplate: {{ .identities.spiffeIDTemplate | quote }}
  {{- with .identities.federatesWith }}
  federatesWith:
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .identities.podSelector }}
  podSelector:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .identities.namespaceSelector }}
  namespaceSelector:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .identities.dnsNameTemplates }}
  dnsNameTemplates:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .identities.workloadSelectorTemplates }}
  workloadTSelectoremplates:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .identities.ttl }}
  ttl: {{ . | quote }}
  {{- end }}
  {{- with .identities.jwtTTL }}
  jwtTtl: {{ . | quote }}
  {{- end }}
  admin: {{ .identities.admin }}
  downstream: {{ .identities.downstream }}
{{- end }}
{{- range $key, $value := .extraCRs.clusterSPIFFEIDs }}
---
apiVersion: spire.spiffe.io/v1alpha1
kind: ClusterSPIFFEID
metadata:
  {{- if ($value.metadata).name }}
  name: {{ $value.metadata.name }}
  {{- else }}
  name: {{ $root.Release.Namespace }}-{{ include "spire-controller-manager.fullname" $root }}-{{ $key }}
  {{- end }}
  {{- with $value.metadata }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
spec:
  {{/* FIXME, automatcially add className here if not set. */}}
  {{- with $value.spec }}
  {{- toYaml . | nindent 2 }}
  {{- end }}
{{- end }}
{{- end }}
