# Default configuration for SPIKE Keeper
# SPDX-License-Identifier: APACHE-2.0

## @skip global
global: {}

## @section Chart parameters
##
## @param image.registry The OCI registry to pull the image from
## @param image.repository The repository within the registry
## @param image.pullPolicy The image pull policy
## @param image.tag Overrides the image tag whose default is the chart appVersion
##
image:
  registry: ghcr.io
  repository: spiffe/spike-pilot
  pullPolicy: IfNotPresent
  tag: ""

shell:
  ## @param shell.image.registry The OCI registry to pull the image from
  ## @param shell.image.repository The repository within the registry
  ## @param shell.image.pullPolicy The image pull policy
  ## @param shell.image.tag Overrides the image tag whose default is the chart appVersion
  ##
  image:
    registry: ""
    repository: busybox
    pullPolicy: IfNotPresent
    tag: 1.37.0-uclibc

tools:
  busybox:
    ## @param tools.busybox.image.registry The OCI registry to pull the image from
    ## @param tools.busybox.image.repository The repository within the registry
    ## @param tools.busybox.image.pullPolicy The image pull policy
    ## @param tools.busybox.image.tag Overrides the image tag whose default is the chart appVersion
    ##
    image:
      registry: ""
      repository: busybox
      pullPolicy: IfNotPresent
      tag: 1.37.0-uclibc

## @param replicas The number of keepers to launch
replicas: 1

trustRoot:
  ## @param trustRoot.nexus Override which trustRoot(s) Nexus is in (array)
  nexus: []
  ## @param trustRoot.pilot Override which trustRoot(s) this SPIKE Pilot instance is in (array)
  pilot: []

## @param logLevel The log level, valid values are "debug", "info", "warn", and "error"
logLevel: debug

## @param agentSocketName The name of the spire-agent unix socket
agentSocketName: spire-agent.sock
## @param csiDriverName The csi driver to use
csiDriverName: csi.spiffe.io

## @param imagePullSecrets [array] Pull secrets for images
imagePullSecrets: []

## @param nameOverride Name override
nameOverride: ""

## @param namespaceOverride Namespace override
namespaceOverride: ""

## @param fullnameOverride Fullname override
fullnameOverride: ""

## @param serviceAccount.create Specifies whether a service account should be created
## @param serviceAccount.annotations [object] Annotations to add to the service account
## @param serviceAccount.name The name of the service account to use. If not set and create is true, a name is generated.
##
serviceAccount:
  create: true
  annotations: {}
  name: ""

## @param labels [object] Labels for pods
labels: {}

## @param podSecurityContext [object] Pod security context
podSecurityContext: {}
  # fsGroup: 2000

## @param securityContext [object] Security context
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

## @param nodeSelector (Optional) Select specific nodes to run on.
nodeSelector: {}

## @param affinity [object] Affinity rules
affinity: {}

## @param tolerations [array] List of tolerations
tolerations: []

## @param topologySpreadConstraints [array] List of topology spread constraints for resilience
topologySpreadConstraints: []

## Provide minimal resources to prevent accidental crashes due to resource exhaustion
# resources:
#   requests:
#     cpu: 50m
#     memory: 128Mi
#   limits:
#     cpu: 100m
#     memory: 512Mi
